"*":
  core:
    audioBeep: false
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "react"
      "react-snippets"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "bower_components"
      "coverage"
      "dist"
      ".happypack"
      ".nyc_output"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "spacegray-dark-neue-ui"
      "dracula-theme"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 11
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "c0ffac40-b898-10b3-51b3-11822856ddc5"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
